@import 'normalize.css';
@import 'variables';

* {
  box-sizing: border-box;
}

.root {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  fill: white;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  font-weight: 300;
  justify-content: center;
  height: 177.77vw;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.fullscreen {
  cursor: none;
}

.top {
  display: flex;
  padding: var(--dimension-spacing);
  width: 100%;
}

.middle {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  padding: var(--dimension-spacing);
  width: 100%;
}

.bottom {
  display: flex;
  height: 20%;
  padding: var(--dimension-spacing);
  width: 100%;
}

.loading, .unauthorised {
  font-size: 30vw;
}

.marvin {
  font-size: 50vw;
  opacity: 0.1;
}
