@import 'normalize.css';
@import 'variables';

.root {
  background: black;
  color: white;
  fill: white;
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size);
  font-weight: 300;
  height: 177.77vw;
  position: relative;
  width: 100%;
}

.fullscreen {
  cursor: none;
}

.loading, .unauthorised {
  font-size: 30vw;
  left: 50%;
  position: absolute;
  top: 50%;
  margin: -15vw 0 0 -15vw;
}
