@import 'variables';

.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: var(--dimension-spacing);
  position: absolute;
  top: var(--dimension-spacing);
}

.time {
  font-size: var(--font-size--large);
}

.date {
  font-size: var(--font-size--small);
}
