.root {
  display: flex;
  flex-align: center;
  flex-direction: column;
  justify-content: center;
}

.noDisruptions {
  text-align: center;
}

.disruption {
  align-items: center;
  display: flex;
}

.disruption + .disruption {
  margin-top: 3vh;
}

.line {
  align-items: center;
  border-radius: 1vw;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 10vw;
  margin-right: 3vw;
  width: 10vw;
}

.closureIcon {
  fill: black;
}

.title {
  font-size: 5vw;
}

.description {
  font-size: 4vw;
}

.bakerloo { 
  background: rgb(178, 99, 0);
}
.central { 
  background: rgb(220, 36, 31);
}
.circle { 
  background: rgb(255, 211, 41);
}
.district { 
  background: rgb(0, 125, 50);
}
.hammersmithAndCity { 
  background: rgb(244, 169, 190);
}
.jubilee { 
  background: rgb(161, 165, 167);
}
.metropolitan { 
  background: rgb(155, 0, 88);
}
.northern { 
  background: rgb(0, 0, 0);
  border: 1px solid white;
}
.northern .closureIcon {
  fill: white;
}
.piccadilly { 
  background: rgb(0, 25, 168);
}
.victoria { 
  background: rgb(0, 152, 216);
}
.waterlooAndCity { 
  background: rgb(147,206,186);
}