@import 'variables';

.root {
  align-items: center;
  display: flex;
}

.root + .root {
  margin-top: var(--dimension-spacing);
}

.type {
  font-size: 7vw;
  margin-right: var(--dimension-spacing);
}

.disrupted {
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
 0% {
    fill: rgba(255, 255, 255, 0.2);
 }
 50% {
    fill: rgba(255, 255, 255, 1);
 }
 100% {
    fill: rgba(255, 255, 255, 0.2);
 }
}
